<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Quotes List</h1>
      <div class="form-group">
        <div class="form-control" height="200px;" *ngFor="let quote of quoteListEvent | orderBy: order: true, let i = index" id="q">
          <h2>{{quote.text}}</h2>
          <h3><span style="color: blue  ">-{{quote.author}}</span></h3>
          <!-- catch one quote query -->
          <div class="rating">
            <h2>{{quote.rating}}</h2>
          </div>
          <div class="button">
            <button (click)="voteUp(quote)" name="up" class="btn btn-success">Vote Up</button>
            <button (click)="voteDown(quote)" name="down" class="btn btn-primary">Vote Down</button>
            <button (click)="delete(i)" name="delete" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
